<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>
  
  <h1>Contact Me</h1>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/home" method="get">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Message" required>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <a href="https://www.linkedin.com/in/maan-patel-b2564124b"> 
    <i class="fa-brands fa-linkedin fa-beat fa-2xl"></i>
  </a>
  
  
  <a href="https://github.com/maanp03?tab=repositories">
    <i class="fa-brands fa-github fa-beat fa-2xl"></i>
  </a>
  

  <%- include('partials/footer.ejs') %>
