
  <%- include('partials/header.ejs') %>
  
  <%- include('partials/navbar.ejs') %>
  
  <img src="/Assets/svg/intro.svg" class="homePic" alt="logo">
  
    
  <h1> Welcome to the <%= title %> page.</h1>

  <a href="/about">
    <button type="button" class="btn btn-primary">Learn More</button>
  </a>

  <%- include('partials/footer.ejs') %>
 
