<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>
  
  <h1>Services</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/Assets/images/web.jpg" class="card-img-top" alt="Web">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text"> 
            As a skilled web developer, I offer valuable services to assist clients in building user-friendly websites
            with strong backend structures. I focus on using the latest web technologies to make sure the sites 
            look great on any device and load quickly.
          </p>  
          <a href="/upcoming" class="btn btn-primary" >Learn More</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <img src="/Assets/images/android-app.jpg" class="card-img-top" alt="Android">
        <div class="card-body">
          <h5 class="card-title">Android Development</h5>
          <p class="card-text">
            As a skilled Android developer, I specialize in creating mobile apps that are easy to use and have 
            reliable features. I focus on developing responsive and optimized applications for Android devices,
            using the latest technologies available.
          </p>
          <a href="/upcoming" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <img src="/Assets/images/programming.jpg" class="card-img-top" alt="General Programming">
        <div class="card-body">
          <h5 class="card-title">General Programming</h5>
          <p class="card-text">
            I provide a variety of services that involve writing code for different applications 
            and solving challenging problems. I am highly skilled in developing efficient and effective 
            solutions using various programming languages and techniques.
          </p>
          <a href="/upcoming" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  


  
    
  

  <%- include('partials/footer.ejs') %>
 